
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssistMe</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="img/download.png" alt="AssistMe Logo"> 
                <div>
                    <h1>AssistMe</h1>
                    <p>Connecting Community Members with Local Help</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1>Local Community Help Platform</h1>
                <p>You'll never regret being good to others during their time of need.</p><br>
                <a href="/login" class="cta-button">Visit Our Website</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 AssistMe</p>
    </footer>
</body>
</html>
